{% extends 'layout.html' %} {% block content %}
<body class = 'home_bg'>
  <div class = "posted_articles">
    <article class = "service_post">

      <div class="service_post_img">
        <img class="post_img_style" src="{{ url_for('static', filename='images/post_pics/' + service_post.post_picture)}}">
      </div><!--/serivce_post_img-->

      <div class="service_post_content">
        <h1><a href="{{ url_for('post', service_post_id=service_post.id)}}"">{{service_post.title}}</a></h1>
        <p><b>Company:</b><a href="{{url_for('service_page', servicename=service_post.company )}}"> {{service_post.company}}</a></p>
        <p>{{service_post.content}}</p>
      </div><!-- /serivce_post_content -->
      <br>
      <div class="metadata">
        <a class="yes_link" href='#'>YES</a><!-- For future versions, enter corresponding route href here. -->
        <p>|  Posted {{service_post.date_posted}}</p>
      </div><!-- /metadata -->
    </article>
  </div>
  <!--I hope to include a section tag here with comments and ratings, book, etc -->
  <div class="sidebar">
    <h3>Search</h3>
    <div class="search-container">
      <form action = '#'> <!-- In future versions, action will correspond to search route/search functionality here -->
        <input type="text" placeholder="Search Anything...">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>  <!-- /search-container -->
    <h3><a href="/list">My List</a></h3> <!--a page where they can access and change their list-->
    <ul>
      {% for list_item in list_items %}
        {% if list_item.completed == 0 %} <!-- Only show the incompleted ones -->
          <li>{{list_item.item}}</li>
        {% endif %}
      {% endfor %}
    </ul>
    <p><a class="normal_text_size" href="/list"> See All > </a></p>
  </div><!--/sidebar-->
</body><!-- /home_bg -->
{% endblock %}
